{% extends "base.html" %}

{% block content %}

{% if orders %}
{% for order in orders %}
<div class="col-md-7 mb-4 border rounded p-3 justify-content-center container">
    <!-- order id on right -->
    <b style="float: right;">Order Id: {{ order.id }}</b>

    <!-- order payment status -->
    <div class="row">
        <div class="col-md-6">
            {% if order.status %}
            <h3><b class="text-success">ดำเนินการสำเร็จ <i class="bi bi-check-circle-fill"></i></b></h3>
            {% else %}
            <h4><b class="text-warning">รอดำเนินการ..</b></h4>
            {% endif %}
        </div>

        <div class="col-md-6 text-end fst-italic">
            {% if order.return_status %}
            <h5><b class="text-danger">ไม่ต้องคืนวัสดุ</b></h5>
            {% else %}
            <h5><b class="text-warning">รอดำเนินการ..</b></h5>
            {% endif %}
        </div>
    </div>

    <div class="col" style="margin-left: 12px;">
        <h5><b class="text-warning" style="font-weight: bold;">วันที่รับของ : {{ order.date_receive }}</b></h5>
    </div>


    <div class="text-muted border-top pt-2"></div>
    {% for item in order.items.all %}
    <div class="border-bottom p-2">
        <p>รายการ : <a class="text-decoration-none"
                href="{{ item.product.get_absolute_url }}">{{item.product.title}}</a></p>
        <p>ราคา : {{item.price}} ฿</p>
        <p>จำนวน : {{item.quantity}}</p>
    </div>
    {% endfor %}
    <b>Total price: ${{ order.get_total_price }}</b>
</div>
{% endfor %}
{% else %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 mt-5 pt-5 text-center">
        <br>
        <h3 class="text-muted text-capitalize">Orders list is empty..!</h3>
        <a href="/" class="text-primary text-decoration-none">Back</a>
    </div>
    <div class="col-md-2"></div>
</div>
{% endif %}

{% endblock %}