{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 justify-content-center container mt-5">
  <h2 class="mb-4">เปลี่ยนรหัสผ่าน</h2>
  <form method="post" class="form-signin">
    {% csrf_token %}
    
    {% for field in form %}
      <div class="mb-3">
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
          <small class="text-muted">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
    
    <button type="submit" class="btn btn-primary">Change Password</button>
  </form>
</div>
{% endblock %}
