{% extends "dashboard.html" %}
{% load static %}
{% block content %}
<!-- {% if order.status %}
<h4>
    <b class="text-success">ดำเนินการสำเร็จ</b> 
    <i class="bi bi-printer-fill fs-2 float-end" onclick="printA4(document.getElementById('content').innerHTML)"></i>
</h4>
{% else %}
    <h3><b class="text-warning">รอดำเนินการ</b></h3>
{% endif %} -->

<!-- order payment status -->
<div class="row">
    <div class="col">
        {% if order.status %}
        <i class="bi bi-printer-fill fs-2 float-end"
            onclick="printA4(document.getElementById('content').innerHTML)"></i>
        <h3><b class="text-success">ดำเนินการสำเร็จ <i class="bi bi-check-circle-fill"></i></b></h3>
        <h5><b style="font-weight: bold;">วันที่รับวัสดุ : </b><i class="bi bi-calendar-check-fill text-warning"> 
            </i>วันที่ {{ order.date_receive }}</h5>
        {% elif order.refuse %}
        <h3><b class="text-danger">ปฏิเสธคำร้อง <i class="bi bi-heartbreak-fill"></i></b></h3>
        <h5><b style="font-weight: bold;" class="text-danger">หมายเหตุ : {{ order.other }}</i></b></h5>

        {% else %}
        <h4><b class="text-warning">รอดำเนินการ..</b></h4>
        <h5><b style="font-weight: bold;">วันที่รับวัสดุ : <i class="bi bi-calendar-check-fill text-warning">
                    รอดำเนินการ</i></b></h5>
        {% endif %}
    </div>
</div>
<br>

<div id="content">

    <div class="justify-content-center d-flex">
        <img src="{% static 'app_general/logo.png' %}" width="80">
    </div>
    <h4 class="text-center mt-2">รายการเบิกจ่ายวัสดุ โครงการอุทยานวิทยาศาสตร์</h4>
    <br>

    <h3 class="text-end">เลขที่รายการ : {{ order.id }}</h3>
    <h6 class="text-end">วันที่ทำรายการ : {{ order.created }}</h6>

    <table border="1" style="width:100%;">
        <thead>
            <tr>
                <th style="width: 5%;">ลำดับ</th>
                <th style="width: 15%;">รหัสวัสดุ</th>
                <th style="width: 25%;">ชื่อรายการ</th>
                <th style="width: 10%;">จำนวน/ชิ้น</th>
                <th style="width: 15%;">ราคารวม/บาท</th>
                <th style="width: 30%;">ประเภท/หมายเหตุ</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <!-- ใส่ข้อมูลออเดอร์ที่ได้จาก Django Model ตรงนี้ -->
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{item.product.code}} </td>
                <td><a class="text-decoration-none" href="{{ item.product.get_absolute_url }}">
                        {{item.product.title}}</a></td>
                <td>{{item.quantity}} </td>
                <td>{{item.price}} </td>
                <td> </td>
            </tr>
            <!-- สามารถทำลูปเพื่อแสดงรายการออเดอร์ทั้งหมด -->
            {% endfor %}
        </tbody>
    </table>

    <h4 class="mt-2 pt-2 text-muted text-end border-bottom">รวมทั้งหมด : {{ order.get_total_price }} บาท</h4>

    <br><br><br><br>
    <div class="row">
        <div class="col-6 " style="margin-top: 20px;">
            <!-- <p>วันที่รับพัสดุ _______ /_______ /________ </p><br> -->
            <p class="text-center">ลงชื่อ _____________________ ผู้เบิก</p>
            <p class="text-center">( {{ order.user.get_full_name }} )</p>
            <p style="margin-left: 10px;">ตำแหน่ง _____________________________________</p><br>
        </div>
        <div class="col-6" style="margin-top: 20px;">
            <p class="text-center">ลงชื่อ _____________________ ผู้อนุมัติ</p>
            <p class="text-center">( ผู้ช่วยศาสตราจารย์ อารีรัตน์ ลุนผา )</p>
            <p style="margin-left: 10px;">ตำแหน่ง &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;หัวหน้าเจ้าหน้าที่</p><br>
        </div>
    </div>
    <div class="text-center" style="margin-top: 20px;">
        <p>ลงชื่อ _____________________ ผู้จ่ายวัสดุ</p>
        <p>(____________________________)</p>
        <p style="margin-left: 10px;">ตำแหน่ง ___________________________________________</p><br>
        <br>
        <p>วันที่รับวัสดุ  &nbsp;&nbsp;{{ order.date_receive|date:"d / M / Y" }} </p><br>

    </div>

</div>

<!-- <script>
    function printOrder() {
        window.print();
    }
</script> -->




{% endblock %}