{% extends "dashboard.html" %}
{% block content %}
<div class="table-responsive">
  <table class="table">
    <thead class="text-muted">
      <tr>
        <th scope="col">#</th>
        <th scope="col">User</th>
        <th scope="col">ID</th>
        <th scope="col">ยอดรวม</th>
        <th scope="col">สถานะ</th>
        <th scope="col">ทำรายการ</th>
        <th scope="col">รายละเอียด</th>
        <th scope="col">วันที่รับของ</th>
        <!-- <th scope="col">สถานะการคืน</th> -->
        <th scope="col"></th>
      </tr>
    </thead>
    {% for order in orders %}
    <tbody>
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td scope="row">{{ order.user.username }}</td>
        <td scope="row">{{ order.id }}</td>
        <td scope="row">{{ order.get_total_price }} ฿</td>


        {% if order.status %}
        <td scope="row" class="text-success">อนุมัติ</td>
        {% elif order.refuse %}
        <td scope="row" class="text-danger">ปฏิเสธ</td>
        {% else %}
        <td scope="row" class="text-warning">รอดำเนินการ..</td>
        {% endif %}

        <td scope="col"><!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
            data-bs-target="#exampleModal{{ order.id }}">
            ดำเนินการ
          </button>
        </td>

        <!-- Modal -->
        <form action="{% url 'dashboard:approve_orders' order.id %}" method="POST">
          {% csrf_token %}
          <div class="modal fade" id="exampleModal{{ order.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content" style="width: 15rem;">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">ดำเนินการ ID {{ order.id }}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="status" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      อนุมัติ
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="refuse" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                      ปฏิเสธ
                    </label>
                  </div>

                  <div class="col mb-3 mt-3">
                    <label for="exampleFormControlInput1" class="form-label">วันที่รับของ</label>
                    <input type="datetime-local" name="date_receive" value="{{ ap.date_receive }}" class="form-control"
                      id="exampleFormControlInput1">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </div>
            </div>
          </div>
        </form>

        <td><a href="{% url 'dashboard:order_detail' order.id %}" class="text-primary text-decoration-none">Detail</a>
        </td>
        <td scope="row">{{ order.date_receive }}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock %}
<div class="modal fade" id="exampleModal{{ order.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="content col-md-6 rounded" style="background-color: white;">

      <div class="modal-header">
        <h5 class="modal-title text-center container" id="exampleModalLabel">ดำเนินการ ID {{ order.id }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="status" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            อนุมัติ
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="refuse" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            ปฏิเสธ
          </label>
        </div>

        <div class="col mb-3 mt-3">
          <label for="exampleFormControlInput1" class="form-label">วันที่รับของ</label>
          <input type="datetime-local" name="date_receive" class="form-control" id="exampleFormControlInput1">
        </div>

        <!-- <label for="exampleFormControlInput1" class="form-label">สถานะการคืน</label> -->
        <!-- <div class="form-check">
              <input class="form-check-input" type="radio" value="{{ ap.return_status }}" {% if ap.return_status == false %} checked {% endif %} name="return_status" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                กรุณาคืน
              </label>
            </div> -->


        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>